* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
    color: mintcream;
    font-family: 'Play', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* form input[type="text"]{ */
#search-bar {    
    margin-bottom: 12rem;
    font-family: 'Play', sans-serif;
    font-size: 1rem;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid;
    opacity: 1;
    outline: none;
    color: white;
    background: url('search2.svg') no-repeat 99% 50%;
    background-size: 1.5rem;
}

::placeholder {
    color: mintcream;
    font-family: 'Play', sans-serif;
    opacity: 1;
}

#time {
    font-size: 8rem;
}

h1 {
    margin-bottom: 6rem; 
}

h2 {
    margin-top: 0.5rem;
    opacity: 0.8;
}

#focus {
    border-bottom: solid 1px mintcream;
    opacity: 0.8;
}

@media(max-width: 800px) {
    #time {
        font-size: 4rem;
    }
    #search-bar {
        margin-bottom: 6rem;
        font-size: 0.5rem;
    }
}